<footer class="site-footer">
    <div class="footer-contents">
        <div class="community-container">
            <div>Built with ♥ by <a href="https://github.com/jetson-cli/jetson/graphs/contributors">The Jetson Contributors</a></div>
            <div class="social">
                <a href="https://twitter.com/usejetson"><img src="/assets/twitter.svg"/></a>
                <a href="https://discord.gg/jetson"><img src="/assets/discord.svg"/></a>
                <a href="https://github.com/jetson-cli/jetson"><img src="/assets/github.svg"/></a>
            </div>
        </div>

        <div class="sponsor-container">
            <div class="heading">Our sponsors:</div>
            <div class="sponsor-list">
                <div class="sponsor"><a href="https://engineering.linkedin.com"><img src="/assets/linkedin.png"/></a></div>
                <div class="sponsor"><a href="https://www.netlify.com"><img src="https://www.netlify.com/img/global/badges/netlify-color-accent.svg"/></a></div>
            </div>
        </div>

        <!--
        <div class="copyright">
            Copyright &copy; 2018 - {{site.time | date: "%Y"}} by David Herman. All rights reserved.
        </div>
        -->
    </div>
</footer>
