.alert {
    padding: .1rem 1.5rem;
    border-left-width: .5rem;
    border-left-style: solid;
    margin: 1rem 0;

    .alert-title {
        font-weight: 600;
        margin-bottom: -.4rem;
    }

    &.alert-warn {
        color: #6b5900;
        background-color: rgba(255,229,100,.3);
        border-color: #e7c000;

        .alert-title {
            color: #b29400;
        }
    }

    &.alert-note {
        color: #0c5460;
        background-color: #d1ecf1;
        border-color: #2b97a9;
        .alert-title {
            font-weight: 600;
        }

        a {
            font-weight: 600;
        }
    }
}
