// colors
$color-primary: #2a7886;
$color-primary-light: #79bac1;
$color-primary-very-light: lighten( $color-primary-light, 30% );
$color-primary-very-dark: darken( $color-primary, 30% );
$color-primary-dark: darken( $color-primary, 5% );
$color-primary-background: hsl(185.8, 55.7%, 33%);
$color-secondary: #edcf3a;
$color-secondary-dark: darken( $color-secondary, 20% );
$color-subtle-border: #eaecef;
$code-bg-color: #262626; // match the syntax-highlighting
$arrow-bg-color: #ccc;
$dark-text-color: #2c3e50;

// layout
$navbar-height: 3.6rem;
$sidebar-width: 20rem;
$content-width: 960px;

$link-shift: 0.2em;

// responsive breakpoints
$media-narrow: 959px;
$media-mobile: 719px;
$media-min-wide: 720px;
$media-mobile-narrow: 419px;

// code
$line-numbers-wrapper-width: 3.5rem;
//$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py
