// colors
$color-primary: hsl(210, 40%, 48%);
$color-primary-light: hsl(210, 40%, 60%);
$color-primary-very-dark: hsl(210, 40%, 12%);
$color-primary-dark: hsl(210, 40%, 36%);
$color-secondary: hsl(345, 45%, 53%);
$color-secondary-dark: hsl(345, 25%, 25%);
$color-primary-very-light: hsl(210, 40%, 93%);
$code-bg-color: #262626; // match the syntax-highlighting
$arrow-bg-color: #ccc;
$dark-text-color: #2c3e50;

// layout
$navbar-height: 3.6rem;
$sidebar-width: 20rem;
$content-width: 740px;

$link-shift: 0.2em;

// responsive breakpoints
$media-narrow: 959px;
$media-mobile: 719px;
$media-min-wide: 720px;
$media-mobile-narrow: 419px;

// code
$line-numbers-wrapper-width: 3.5rem;
//$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py
